*,
*:before,
*:after {
  box-sizing: border-box;

}
a{
    text-decoration: none;
}
body {
    font-family: sans-serif;

}
header{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
main{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.logo_link{
    text-decoration: none;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    margin-top: 63px;

    margin-bottom: 40px;

}
.logo_color{
    color: #4BCAFF; 
}
ul{
    list-style-type: none;
    padding: 0px;
    
}
.flex_container_logo{
    display: flex;
    justify-content: center;

    margin-bottom: 49px;
    background: #35444F;
    
}
.navigation_item{
    height: 69px;
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
    border-right-width:1px;
    border-color: #FFFFFF;
    border-right: 2px solid #FFFFFF;

}
.navigation_item:nth-child(1){
    border-left: 2px solid #FFFFFF;
    margin-left: 30px;
}

.navigation_text{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 18px;
    color: #FFFFFF;
    justify-content: center;
    margin-top: 24px;

}
.navigation_item:hover{
    background: #222F3A;
}
.flex_container_left{

    width: 30%;
    min-width: 344px;
    height: 399px;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    margin-top: 0%;
}
.section_text_left{
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    margin-left: 44px;

    padding-top: 26px;
    padding-bottom: 26px;

    display: flex;
    align-items: center;

    color: #485863;
}

.section_item_left:hover{
    background: #DBDBDB;
    padding-left: 10px;
    
}
.flex_container_right{
    display: flex;
    width: 885px;

    left: 0px;
    top: 0px;
    flex-direction: column;
    margin-left: 52px;
    

}
.flex_container_right_div{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    height: 529px;
    width: 100%;

}
.section_img{
    width: 320px;
    height: 381px;
    transition-duration: 1s;
    transition-property: height, width;
}
.section_img:hover{
    height: calc(381px + 10%);
    width: calc(320px + 10%);
}
.right_aside_text{

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    color: #2C2C2C;
}
.section_item_2_text_1{
    margin-bottom: 13px;
    margin-top: 37px;
}
.section_item_2_text_2{
    margin-top: 0%;
    margin-bottom: 0%;
}
footer{
    background: rgba(99, 105, 110, 0.48);
    max-width: 1280px;
    margin-bottom: 30px;
    margin-top: 54px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.footer_list{
    display: flex;
    height: 69px;
    justify-content: space-around;
}

.footer_content{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    font-weight: 400;
    font-size: 150%;
    line-height: 28px;
    align-items: center;
    justify-content: space-between;
    color: #0C1927;
}
.footer_content:last-child{
    font-style: normal;
    font-weight: 400;
    color: #010101;
    margin-right: 0px;
}
.footer_items{
    display: flex;
    margin-right: 35px;

}
.footer_content:hover{
    color: #3181A6;
    text-decoration: underline;
}
.footer_items:first-child{
    margin-left: 40px;
}
.Copyright{
    display: flex;
    flex-direction: row;
    margin-right: 40px;
    margin-left: auto;
    font-weight: 400;
    font-size: 150%;
    line-height: 28px;
    align-self: center;
    justify-content: space-between;
    color: #0C1927;
}
